@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap');

:root {
    --font-family: 'Josefin Sans', sans-serif;
    --bg-color: #E3F2C1 ;
    --fonte-primaria: #579BB1;

}

body{
    background-color: var(--bg-color);
    color: var(--fonte-primaria);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    font-family:var(--font-family) ;
}

h1{
    font-size: 5em;

}
h2{
    font-size: 5em;
}

h3{
    font-size: 3em;
    margin-top:20px;
}

.mensagem{
    font-size: 1.5em;
    margin-top: 40px;
}

.box{
    border: 2px solid var(--fonte-primaria);
    display: inline-block;
    font-size: 50px;
    padding: 20px;
    margin: 20px;
}